*.*~
.DS_Store
pkg
tests/work
tests/data
.vagrant*
screenshot*
composer.phar
.idea
*.iml
.kobalt
node_modules
*.log
dist
work
public
worklib
/.phpunit.result.cache
vendor
.env
.vscode/
.yarn/
#!.yarn/releases
#!.yarn/plugins
.yarnrc.yml
.pnp.*
.php-cs-fixer.cache
data/authors/*.png
data/titles/*.png
data/cache/
!data/cache/.gitignore
bicbucstriim*.zip
.phpunit.cache
tests/coverage/
tests/cache
rector.php
behat.yml
yarn.lock
clover.xml
coverage/