*.*~
.DS_Store
.idea
.phpunit.result.cache
*.iml
*.log
dist
node_modules
work
vendor
public/.env
.vscode/
.yarn/
.yarnrc.yml
.php-cs-fixer.cache
data/authors/*.png
data/titles/*.png
bicbucstriim*.zip
.phpunit.cache
tests/coverage/