*.*~
.DS_Store
pkg
tests/work
tests/data
.vagrant*
screenshot*
composer.phar
.idea
*.iml
.kobalt
node_modules
*.log
work
worklib
/.phpunit.result.cache
vendor
.env
.vscode/
.yarn/
.yarnrc.yml
.php-cs-fixer.cache
data/authors/*.png
data/titles/*.png
bicbucstriim*.zip
