# baseline re-generated with level 3 to keep some issues visible on higher levels
# at the time this file was updated there are 14 errors reported for levels 3 to 5
includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - .
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - vendor/*
        - work/*
