parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$bbs\\.$#"
			count: 1
			path: index.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$calibre\\.$#"
			count: 2
			path: index.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$notes\\.$#"
			count: 2
			path: index.php

		-
			message: "#^Access to an undefined property RedBeanPHP\\\\OODBBean\\:\\:\\$val\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property iterable\\<RedBeanPHP\\\\OODBBean\\>&RedBeanPHP\\\\OODBBean\\:\\:\\$atype\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property iterable\\<RedBeanPHP\\\\OODBBean\\>&RedBeanPHP\\\\OODBBean\\:\\:\\$label\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property iterable\\<RedBeanPHP\\\\OODBBean\\>&RedBeanPHP\\\\OODBBean\\:\\:\\$ltype\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property iterable\\<RedBeanPHP\\\\OODBBean\\>&RedBeanPHP\\\\OODBBean\\:\\:\\$mime\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property iterable\\<RedBeanPHP\\\\OODBBean\\>&RedBeanPHP\\\\OODBBean\\:\\:\\$ntext\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property iterable\\<RedBeanPHP\\\\OODBBean\\>&RedBeanPHP\\\\OODBBean\\:\\:\\$ntype\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property iterable\\<RedBeanPHP\\\\OODBBean\\>&RedBeanPHP\\\\OODBBean\\:\\:\\$url\\.$#"
			count: 2
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$calibre\\.$#"
			count: 1
			path: lib/BicBucStriim/calibre_config_middleware.php

		-
			message: "#^Access to an undefined property RedBeanPHP\\\\SimpleModel\\:\\:\\$atype\\.$#"
			count: 1
			path: lib/BicBucStriim/data.php

		-
			message: "#^Access to an undefined property RedBeanPHP\\\\SimpleModel\\:\\:\\$url\\.$#"
			count: 1
			path: lib/BicBucStriim/data.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:attr\\(\\)\\.$#"
			count: 1
			path: lib/BicBucStriim/epub.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$auth\\.$#"
			count: 1
			path: lib/BicBucStriim/login_middleware.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$bbs\\.$#"
			count: 1
			path: lib/BicBucStriim/login_middleware.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$login_service\\.$#"
			count: 1
			path: lib/BicBucStriim/login_middleware.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$logout_service\\.$#"
			count: 1
			path: lib/BicBucStriim/login_middleware.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 1
			path: lib/BicBucStriim/opds_generator.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$bbs\\.$#"
			count: 4
			path: lib/BicBucStriim/own_config_middleware.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$must_login\\.$#"
			count: 2
			path: lib/BicBucStriim/own_config_middleware.php
