parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$bbs\\.$#"
			count: 1
			path: index.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$calibre\\.$#"
			count: 2
			path: index.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$notes\\.$#"
			count: 2
			path: index.php

		-
			message: "#^Call to an undefined method Model_Config\\:\\:getMeta\\(\\)\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Method BicBucStriim\\:\\:config\\(\\) should return Model_Config\\|null but returns RedBeanPHP\\\\OODBBean\\|null\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Method BicBucStriim\\:\\:getCalibreThing\\(\\) should return Model_CalibreThing\\|null but returns RedBeanPHP\\\\OODBBean\\|null\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Method BicBucStriim\\:\\:idTemplate\\(\\) should return Model_IdTemplate\\|null but returns RedBeanPHP\\\\OODBBean\\|null\\.$#"
			count: 1
			path: lib/BicBucStriim/bicbucstriim.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$calibre\\.$#"
			count: 1
			path: lib/BicBucStriim/calibre_config_middleware.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:attr\\(\\)\\.$#"
			count: 1
			path: lib/BicBucStriim/epub.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$auth\\.$#"
			count: 1
			path: lib/BicBucStriim/login_middleware.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$bbs\\.$#"
			count: 1
			path: lib/BicBucStriim/login_middleware.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$login_service\\.$#"
			count: 1
			path: lib/BicBucStriim/login_middleware.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$logout_service\\.$#"
			count: 1
			path: lib/BicBucStriim/login_middleware.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$id\\.$#"
			count: 1
			path: lib/BicBucStriim/opds_generator.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$bbs\\.$#"
			count: 4
			path: lib/BicBucStriim/own_config_middleware.php

		-
			message: "#^Access to an undefined property Slim\\\\Slim\\:\\:\\$must_login\\.$#"
			count: 2
			path: lib/BicBucStriim/own_config_middleware.php
