{% extends 'main.twig' %}

{% block pid %}id="pextra"{%endblock%}

{% block headerlinks %}{% endblock %}

{% block content %}
	<ul data-role="listview">
		{% for option in options %}
			<li>
				<a rel="external" target="_blank" href="{{page.rot}}/extra/{{option.id}}/">
					<h3>
						{{ option.label }}
					</h3>
					<p>{{ option.description }}</p>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
